In [3]:
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bsdegrees = [1,1,0,0,1]
msdegrees = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]
GradeList = zip(names,grades,bsdegrees,msdegrees,phddegrees)
df=pd.DataFrame(data=GradeList,columns=['Names','Grades','Bsdegrees','Msdegrees','Phddegrees'])
df

     Names  Grades  Bsdegrees  Msdegrees  Phddegrees
0      Bob      76          1          2           0
1  Jessica      95          1          1           1
2     Mary      77          0          0           0
3     John      78          0          0           0
4      Mel      99          1          0           0

In [7]:
df['Grades'].count() # number of values

5

In [8]:
df['Grades'].mean() # arithmetic average

85.0

In [9]:
df['Grades'].std() # standard deviation

11.067971810589327

In [10]:
df['Grades'].min() # minimum

76

In [11]:
df['Grades'].max() # maximum

99

In [12]:
df['Grades'].quantile(.25) # first quartile

77.0

In [13]:
df['Grades'].quantile(.5) # second quartile

78.0

In [14]:
df['Grades'].quantile(.75) # third quartile

95.0

In [16]:
# computes the arithmetic average of a column
# mean = dividing the sum by the number of values
df['Grades'].mean()

85.0

In [17]:
# finds the median of the values in a column
# median = the middle value if they are sorted in order
df['Grades'].median()

78.0

In [18]:
# finds the mode of the values in a column
# mode = the most common single value
df['Grades'].mode()

0    76
1    77
2    78
3    95
4    99
dtype: int64

In [20]:
# computes the variance of the values in a column
df['Grades'].var()

122.5

In [21]:
df.var()

Grades        122.5
Bsdegrees       0.3
Msdegrees       0.8
Phddegrees      0.2
dtype: float64